.allsite{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    

    .left{
        width: 22%;
        height: auto;
        background-color: rgb(242,243,247);
        padding-bottom: 100px;
        position: fixed;

        .profile-photo{
            width: 100%;
            padding-top: 20px;
            text-align: center;

            img{
                width: 60%;
                border-radius: 20%;
            }
        }

        .name{
            margin-top: 10px;
            width: 100%;
            h1{
                font-size: 28px;
                font-family: 'Josefin Sans', sans-serif;
                text-align: center;
                margin-bottom: 10px;
            }
        }
        .profession{
            margin-bottom: 30px;
            p{
                text-align: center;
                font-family: 'Josefin Sans', sans-serif;
                color: grey;
                font-size: 20px;
                span{
                    color: rgba(0, 0, 255, 0.645);
                }
            }
        }
        .navbar{
            margin-bottom: 30px;
            text-align: center;
            div{
                margin: 15px 0px;
                span{
                    font-family: 'Sora', sans-serif;
                    font-size: 13px;
                    text-align: center;
                    transition: 0.2s;
                    &:hover{
                        color: rgba(0, 0, 255, 0.645);
                        cursor: pointer;
                        border-bottom: 1px solid rgba(0, 0, 255, 0.645);
                        
                    }
                }
            }
        }
        footer{
            width: 90%;
            margin: auto;
            p{
                text-align: center;
                font-family: 'Sora', sans-serif;
                font-size: 13px;
            }
        }
    }
    // Left hissesi yeni header bitti

    .right{
        width: 78%;
        margin-left: 340px;

        .section-1{
            margin-bottom: 200px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .texts{
                width: 50%;
                margin-top: 250px;
                margin-left: 30px;
                h1{
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 47px;
                }
                .about{
                    margin: 20px 0px;
                    p{
                        font-family: 'Sora', sans-serif;

                    }
                }
                button{
                    padding: 10px 50px;
                    font-family: 'Sora', sans-serif;
                    background-color: transparent;
                    border: 1px solid black;
                    color: black;
                    transition: 0.6s;   
                    cursor: pointer;
                    align-items: center;
                    &:hover{
                        background-color: black;
                        color: white;

                    }
                    i{
                        padding-left: 5px;
                        font-size: 18px;
                    }
                }

            }
            .images{
                width: 50%;
                img{
                    width: 80%;
                    margin-left: 50px;
                }
            }
        }
        .section-2{
            margin-left: 30px;
            .about-texts{
                p{
                    font-family: 'Sora', sans-serif;
                    margin:20px 0px;
                    font-size: 14px;
                }
                h3{
                    font-size: 25px;
                    font-family: 'Josefin Sans', sans-serif;
                    margin-bottom: 30px;
                }
                button{
                    padding: 10px 50px;
                    font-family: 'Sora', sans-serif;
                    background-color: transparent;
                    border: 1px solid black;
                    color: black;
                    transition: 0.6s;   
                    cursor: pointer;
                    align-items: center;
                    &:hover{
                        background-color: black;
                        color: white;

                    }
                    i{
                        padding-left: 5px;
                        font-size: 13px;
                    }
                }
            }
            .about-boxes{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                margin-bottom: 30px;
                .box{
                    width: 23%;
                    padding: 30px 30px;
                    background-color: rgba(242, 243, 247, 0.823);;
                    text-align: left;
                    border-radius: 6px;
                    cursor: pointer ;
                    transition: 0.4s;
                    &:hover{
                        transform: scale(1.1);
                        box-shadow: 3px 5px rgba(0, 0, 0, 0.137);

                        i{
                            transform: rotate(360deg);
                        }
                    }
                    
                    i{
                        font-size: 28px;
                        margin: 10px 0px;
                        transition: 0.4s;
                    }
                    h3{
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 21   px;
                    }
                }
            }
            .hirebox{
                margin: 35px 0px;
                background-color: #f9bf3f;
                padding: 45px 10px;
                h2{
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 32px; 
                    margin-left: 10px;
                }
                button{
                    border: 1px solid black;
                    background-color: transparent;
                    padding: 5px 10px;
                    font-family: 'Sora', sans-serif;
                    margin-top: 10px;
                    margin-left: 10px;
                    transition: 0.6s;
                    cursor: pointer;
                    &:hover{
                        background-color: black;
                        color: #f9bf3f;
                    }
                    i{
                        margin-left: 5px;
                        font-size: 16px;
                    }
                }
            }

        }
        .section-3{
            margin-top: 100px;
            margin-left: 30px;

            .skills-texts{
                p{
                    font-family: 'Sora', sans-serif;
                    margin:20px 0px;
                    font-size: 14px;
                }
                h3{
                    font-size: 25px;
                    font-family: 'Josefin Sans', sans-serif;
                    margin-bottom: 30px;
                }
            }
            .myskills{
                width: 100%;
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .skillbox{
                    padding: 10px 0px;
                    padding-left: 0px;
                    margin-bottom: 30px;
                    width: 47%;
                    .skilltitle{
                        font-family: 'Sora', sans-serif;
                        display: flex;
                        justify-content: space-between;
                    }
                    .skillline{
                        margin-top: 10px;
                        width: 100%;
                        height: 8px;
                        background-color: #d6d6d6;
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                        .line{
                            width: 50%;
                            height: 8px;
                            background-color: blue;
                            border-top-right-radius: 6px;
                            border-bottom-right-radius: 6px;
                        }
                    }
                }

            }
            .parallax{
                border-radius: 8px;
                background-image: url("./ales-nesetril-Im7lZjxeLhg-unsplash.jpg");
                width: 100%;
                height: 250px;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: space-between;
                padding-top: 80px;
                text-align: center;
                margin-bottom: 50px;
                .moves{
                    width: 23%;
                    h3{
                        font-size: 50px;
                        color: white;
                        font-family: 'Sora', sans-serif;
                        font-weight: 800;
                    }
                    p{
                        font-size: 18px;
                        color: rgba(255, 255, 255, 0.607);
                        font-family: 'Josefin Sans', sans-serif;
                    }
                    .plus{
                        button{
                            font-size: 20px;
                            background-color: transparent;
                            color: #ffffff;
                            border: 0px;
                        }
                    }
                    .plus1{
                        button{
                            font-size: 20px;
                            background-color: transparent;
                            color: #ffffff;
                            border: 0px;
                        }
                    }
                    .plus2{
                        button{
                            font-size: 20px;
                            background-color: transparent;
                            color: #ffffff;
                            border: 0px;
                        }
                    }
                    .plus3{
                        button{
                            font-size: 20px;
                            background-color: transparent;
                            color: #ffffff;
                            border: 0px;
                        }
                    }
                }
            }
        }
    }
}