.allsite{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    

    .left{
        width: 22%;
        height: auto;
        background-color: rgb(242,243,247);
        padding-bottom: 100px;
        position: fixed;

        .profile-photo{
            width: 100%;
            padding-top: 20px;
            text-align: center;

            img{
                width: 60%;
                border-radius: 20%;
            }
        }

        .name{
            margin-top: 10px;
            width: 100%;
            h1{
                font-size: 28px;
                font-family: 'Josefin Sans', sans-serif;
                text-align: center;
                margin-bottom: 10px;
            }
        }
        .profession{
            margin-bottom: 30px;
            p{
                text-align: center;
                font-family: 'Josefin Sans', sans-serif;
                color: grey;
                font-size: 20px;
                span{
                    color: rgba(0, 0, 255, 0.645);
                }
            }
        }
        .navbar{
            margin-bottom: 30px;
            text-align: center;
            div{
                margin: 15px 0px;
                span{
                    font-family: 'Sora', sans-serif;
                    font-size: 13px;
                    text-align: center;
                    transition: 0.2s;
                    &:hover{
                        color: rgba(0, 0, 255, 0.645);
                        cursor: pointer;
                        border-bottom: 1px solid rgba(0, 0, 255, 0.645);
                        
                    }
                }
            }
        }
        footer{
            width: 90%;
            margin: auto;
            p{
                text-align: center;
                font-family: 'Sora', sans-serif;
                font-size: 13px;
            }
        }
    }
    // Left hissesi yeni header bitti

    .right{
        width: 78%;
        margin-left: 340px;

        .section-1{
            width: 100%;
            display: flex;
            justify-content: space-between;

            .texts{
                width: 50%;
                margin-top: 250px;
                margin-left: 30px;
                h1{
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 47px;
                }
                .about{
                    margin: 20px 0px;
                    p{
                        font-family: 'Sora', sans-serif;

                    }
                }
                button{
                    padding: 10px 50px;
                    font-family: 'Sora', sans-serif;
                    background-color: transparent;
                    border: 1px solid black;
                    color: black;
                    transition: 0.6s;   
                    cursor: pointer;
                    &:hover{
                        background-color: black;
                        color: white;

                    }
                    i{
                        padding-left: 5px;
                    }
                }

            }
            .images{
                width: 50%;
                img{
                    width: 80%;
                    margin-left: 50px;
                }
            }
        }
    }
}